@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;600;700&display=swap");


$color-1: #F4F3F1;
$color-2: #4f6769;
$color-3: #dacc56;
$font-sans: 'Montserrat',
sans-serif;
$font-serif: 'Roboto Slab',
serif;

* {
    margin: 0;
}

body {
    background-color: $color-3;
}

// .container {
    //     height: 100vh;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    // }

h1 {
    color: $color-2;
}

p {
    color: $color-2;
    padding: 2em;
    width: 350px;
}

button {
    background-color: $color-1;
    color: $color-2;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    font-family: 'Roboto Slab',
        serif;
    font-size: 2em;
    font-weight: 600;
    margin: 20px;
    padding: 20px;

    &:hover {
        background-color: $color-2;
        color: #F4F3F1;
    }
}

.visible {
    visibility: visible;
    background-color: $color-1;
    color: $color-3;

    a {
        background-color: $color-2;
        color: $color-1;
    }

    button {
        background-color: $color-2;
        color: $color-1;
    }
}