@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;600;700&display=swap");


$base-color: #F4F3F1;
$dark-color: #4f6769;
$accent-color: #dacc56;
$font-sans: 'Montserrat',
sans-serif;
$font-serif: 'Roboto Slab',
serif;