@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;600;700&display=swap");

$color-1: #F4F3F1;
$color-2: #4f6769;
$color-3: #dacc56;
$font-sans: 'Montserrat',
sans-serif;
$font-serif: 'Roboto Slab',
serif;

* {
    margin: 0;
    box-sizing: border-box; //padding and borders do not increase the width and height of elements
}

body {
    height: 100vh;
    // width: 100vw;
    background-color: $color-3;
    color: $color-2;
    font-family: $font-serif;
    // display: flex;
    // flex-direction: column;
    // justify-content: center; // braucht Höhe um zu greifen!
    // align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; //vertikal zentriert bei column
    align-items: center; //horizontal zentriert bei column
    height: 80vh;
    vertical-align: middle;
}

header {
    // width: 50vw; //50vw bei 5 Links - dann zentriert, beii 100vw sind die Links links
    //ohne width ist es auch zentrirt
    // border-bottom: 2px solid $color-1;
    position: relative;
    top: 0;
    // margin: 0 auto;
}

.links-container {
    display: flex;
    flex-direction: row;

    a {
        color: $color-2;
        border-left: 2px solid $color-2;
        border-bottom: 2px solid $color-2;
        font-size: .9em;
        display: flex;
        flex-direction: row;
        justify-content: center; //horizontal zentriert bei row
        align-items: center; //vertikal zentriert bei row
        text-align: center;
        text-decoration: none;
        padding: 1em;
        width: 20vw;
        height: 20vw;

        &:last-child {
            border-right: 2px solid $color-1;
        }

        &:visited {
            color: $color-2;
        }

        &:hover {
            background-color: $color-2;
            color: $color-3;
        }
    }
}

p {
    line-height: 1.5;
    max-width: 350px;
}