@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;600;700&display=swap");

$base-color: #F4F3F1;
$dark-color: #121420;
$accent-color: #c9634a;
$font-sans: 'Montserrat', sans-serif;
$font-serif: 'Roboto Slab',serif;